version: 2

updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: monthly
    commit-message: 'Upgrade: '
    labels: 'upgrade'
    versioning-strategy: increase-if-necessary
